NUXT_PUBLIC_API_BASE="https://next.zarinpal.com/api" #Options: Demo: https://v4-demo.hamrah.in/api | Staging: https://staging.zarinpal.com/api | Production: https://next.zarinpal.com/api
NUXT_PUBLIC_API_ZARINDESK_BASE="https://desk.zarinpal.com/api/zarindesk" #Options: Demo: https://zarindesk-demo.hamrah.in/api/zarindesk | Stage: https://desk.zarinpal.name/api/zarindesk | Production: https://desk.zarinpal.com/api/zarindesk
NUXT_PUBLIC_API_RECEIPT="https://receipt.zarinp.al/api/receipt" #Options: https://receipt.zarinp.al/api/receipt
NUXT_SANDBOX_NAME="develop" #Options: develop | stage | production
TOKEN_API="" #Bearer Token 